function formatValues(number) {

  if (number < 10000) {
    return number.toString();
  } else if (number < 100000) {
    return (number / 1000).toFixed(1) + "k";
  } else if (number < 10000000) {
    return (number / 100000).toFixed(1) + "lac";
  } else {
    return (number / 10000000).toFixed(1) + "cr";
  }
}
