[
    {"label": "Afghanistan", "value": "Afghanistan", "code": "+93", "shortName": "AF"},
    {"label": "Albania", "value": "Albania", "code": "+355", "shortName": "AL"},
    {"label": "Algeria", "value": "Algeria", "code": "+213", "shortName": "DZ"},
    {"label": "American Samoa", "value": "American Samoa", "code": "+1-684", "shortName": "AS"},
    {"label": "Andorra", "value": "Andorra", "code": "+376", "shortName": "AD"},
    {"label": "Angola", "value": "Angola", "code": "+244", "shortName": "AO"},
    {"label": "Anguilla", "value": "Anguilla", "code": "+1-264", "shortName": "AI"},
    {"label": "Antarctica", "value": "Antarctica", "code": "+672", "shortName": "AQ"},
    {"label": "Antigua and Barbuda", "value": "Antigua and Barbuda", "code": "+1-268", "shortName": "AG"},
    {"label": "Argentina", "value": "Argentina", "code": "+54", "shortName": "AR"},
    {"label": "Armenia", "value": "Armenia", "code": "+374", "shortName": "AM"},
    {"label": "Aruba", "value": "Aruba", "code": "+297", "shortName": "AW"},
    {"label": "Australia", "value": "Australia", "code": "+61", "shortName": "AU"},
    {"label": "Austria", "value": "Austria", "code": "+43", "shortName": "AT"},
    {"label": "Azerbaijan", "value": "Azerbaijan", "code": "+994", "shortName": "AZ"},
    {"label": "Bahamas", "value": "Bahamas", "code": "+1-242", "shortName": "BS"},
    {"label": "Bahrain", "value": "Bahrain", "code": "+973", "shortName": "BH"},
    {"label": "Bangladesh", "value": "Bangladesh", "code": "+880", "shortName": "BD"},
    {"label": "Barbados", "value": "Barbados", "code": "+1-246", "shortName": "BB"},
    {"label": "Belarus", "value": "Belarus", "code": "+375", "shortName": "BY"},
    {"label": "Belgium", "value": "Belgium", "code": "+32", "shortName": "BE"},
    {"label": "Belize", "value": "Belize", "code": "+501", "shortName": "BZ"},
    {"label": "Benin", "value": "Benin", "code": "+229", "shortName": "BJ"},
    {"label": "Bermuda", "value": "Bermuda", "code": "+1-441", "shortName": "BM"},
    {"label": "Bhutan", "value": "Bhutan", "code": "+975", "shortName": "BT"},
    {"label": "Bolivia", "value": "Bolivia", "code": "+591", "shortName": "BO"},
    {"label": "Bonaire, Sint Eustatius and Saba", "value": "Bonaire, Sint Eustatius and Saba", "code": "+599", "shortName": "BQ"},
    {"label": "Bosnia and Herzegovina", "value": "Bosnia and Herzegovina", "code": "+387", "shortName": "BA"},
    {"label": "Botswana", "value": "Botswana", "code": "+267", "shortName": "BW"},
    {"label": "Brazil", "value": "Brazil", "code": "+55", "shortName": "BR"},
    {"label": "British Indian Ocean Territory", "value": "British Indian Ocean Territory", "code": "+246", "shortName": "IO"},
    {"label": "Brunei Darussalam", "value": "Brunei Darussalam", "code": "+673", "shortName": "BN"},
    {"label": "Bulgaria", "value": "Bulgaria", "code": "+359", "shortName": "BG"},
    {"label": "Burkina Faso", "value": "Burkina Faso", "code": "+226", "shortName": "BF"},
    {"label": "Burundi", "value": "Burundi", "code": "+257", "shortName": "BI"},
    {"label": "Cabo Verde", "value": "Cabo Verde", "code": "+238", "shortName": "CV"},
    {"label": "Cambodia", "value": "Cambodia", "code": "+855", "shortName": "KH"},
    {"label": "Cameroon", "value": "Cameroon", "code": "+237", "shortName": "CM"},
    {"label": "Canada", "value": "Canada", "code": "+1", "shortName": "CA"},
    {"label": "Cayman Islands", "value": "Cayman Islands", "code": "+1-345", "shortName": "KY"},
    {"label": "Central African Republic", "value": "Central African Republic", "code": "+236", "shortName": "CF"},
    {"label": "Chad", "value": "Chad", "code": "+235", "shortName": "TD"},
    {"label": "Chile", "value": "Chile", "code": "+56", "shortName": "CL"},
    {"label": "China", "value": "China", "code": "+86", "shortName": "CN"},
    {"label": "Colombia", "value": "Colombia", "code": "+57", "shortName": "CO"},
    {"label": "Comoros", "value": "Comoros", "code": "+269", "shortName": "KM"},
    {"label": "Congo", "value": "Congo", "code": "+242", "shortName": "CG"},
    {"label": "Congo, Democratic Republic of the", "value": "Congo, Democratic Republic of the", "code": "+243", "shortName": "CD"},
    {"label": "Costa Rica", "value": "Costa Rica", "code": "+506", "shortName": "CR"},
    {"label": "Côte d'Ivoire", "value": "Côte d'Ivoire", "code": "+225", "shortName": "CI"},
    {"label": "Croatia", "value": "Croatia", "code": "+385", "shortName": "HR"},
    {"label": "Cuba", "value": "Cuba", "code": "+53", "shortName": "CU"},
    {"label": "Curaçao", "value": "Curaçao", "code": "+599", "shortName": "CW"}
    {"label": "Cyprus", "value": "Cyprus", "code": "+357", "shortName": "CY"},
    {"label": "Czech Republic", "value": "Czech Republic", "code": "+420", "shortName": "CZ"},
    {"label": "Denmark", "value": "Denmark", "code": "+45", "shortName": "DK"},
    {"label": "Djibouti", "value": "Djibouti", "code": "+253", "shortName": "DJ"},
    {"label": "Dominica", "value": "Dominica", "code": "+1-767", "shortName": "DM"},
    {"label": "Dominican Republic", "value": "Dominican Republic", "code": "+1-809", "shortName": "DO"},
    {"label": "Ecuador", "value": "Ecuador", "code": "+593", "shortName": "EC"},
    {"label": "Egypt", "value": "Egypt", "code": "+20", "shortName": "EG"},
    {"label": "El Salvador", "value": "El Salvador", "code": "+503", "shortName": "SV"},
    {"label": "Equatorial Guinea", "value": "Equatorial Guinea", "code": "+240", "shortName": "GQ"},
    {"label": "Eritrea", "value": "Eritrea", "code": "+291", "shortName": "ER"},
    {"label": "Estonia", "value": "Estonia", "code": "+372", "shortName": "EE"},
    {"label": "Eswatini", "value": "Eswatini", "code": "+268", "shortName": "SZ"},
    {"label": "Ethiopia", "value": "Ethiopia", "code": "+251", "shortName": "ET"},
    {"label": "Falkland Islands (Malvinas)", "value": "Falkland Islands (Malvinas)", "code": "+500", "shortName": "FK"},
    {"label": "Faroe Islands", "value": "Faroe Islands", "code": "+298", "shortName": "FO"},
    {"label": "Fiji", "value": "Fiji", "code": "+679", "shortName": "FJ"},
    {"label": "Finland", "value": "Finland", "code": "+358", "shortName": "FI"},
    {"label": "France", "value": "France", "code": "+33", "shortName": "FR"},
    {"label": "French Guiana", "value": "French Guiana", "code": "+594", "shortName": "GF"},
    {"label": "French Polynesia", "value": "French Polynesia", "code": "+689", "shortName": "PF"},
    {"label": "Gabon", "value": "Gabon", "code": "+241", "shortName": "GA"},
    {"label": "Gambia", "value": "Gambia", "code": "+220", "shortName": "GM"},
    {"label": "Georgia", "value": "Georgia", "code": "+995", "shortName": "GE"},
    {"label": "Germany", "value": "Germany", "code": "+49", "shortName": "DE"},
    {"label": "Ghana", "value": "Ghana", "code": "+233", "shortName": "GH"},
    {"label": "Gibraltar", "value": "Gibraltar", "code": "+350", "shortName": "GI"},
    {"label": "Greece", "value": "Greece", "code": "+30", "shortName": "GR"},
    {"label": "Greenland", "value": "Greenland", "code": "+299", "shortName": "GL"},
    {"label": "Grenada", "value": "Grenada", "code": "+1-473", "shortName": "GD"},
    {"label": "Guadeloupe", "value": "Guadeloupe", "code": "+590", "shortName": "GP"},
    {"label": "Guam", "value": "Guam", "code": "+1-671", "shortName": "GU"},
    {"label": "Guatemala", "value": "Guatemala", "code": "+502", "shortName": "GT"},
    {"label": "Guernsey", "value": "Guernsey", "code": "+44-1481", "shortName": "GG"},
    {"label": "Guinea", "value": "Guinea", "code": "+224", "shortName": "GN"},
    {"label": "Guinea-Bissau", "value": "Guinea-Bissau", "code": "+245", "shortName": "GW"},
    {"label": "Guyana", "value": "Guyana", "code": "+592", "shortName": "GY"},
    {"label": "Haiti", "value": "Haiti", "code": "+509", "shortName": "HT"},
    {"label": "Honduras", "value": "Honduras", "code": "+504", "shortName": "HN"},
    {"label": "Hong Kong", "value": "Hong Kong", "code": "+852", "shortName": "HK"},
    {"label": "Hungary", "value": "Hungary", "code": "+36", "shortName": "HU"},
    {"label": "Iceland", "value": "Iceland", "code": "+354", "shortName": "IS"},
    {"label": "India", "value": "India", "code": "+91", "shortName": "IN"},
    {"label": "Indonesia", "value": "Indonesia", "code": "+62", "shortName": "ID"},
    {"label": "Iran", "value": "Iran", "code": "+98", "shortName": "IR"},
    {"label": "Iraq", "value": "Iraq", "code": "+964", "shortName": "IQ"},
    {"label": "Ireland", "value": "Ireland", "code": "+353", "shortName": "IE"},
    {"label": "Isle of Man", "value": "Isle of Man", "code": "+44-1624", "shortName": "IM"},
    {"label": "Israel", "value": "Israel", "code": "+972", "shortName": "IL"},
    {"label": "Italy", "value": "Italy", "code": "+39", "shortName": "IT"},
    {"label": "Jamaica", "value": "Jamaica", "code": "+1-876", "shortName": "JM"},
    {"label": "Japan", "value": "Japan", "code": "+81", "shortName": "JP"},
    {"label": "Jersey", "value": "Jersey", "code": "+44-1534", "shortName": "JE"},
    {"label": "Jordan", "value": "Jordan", "code": "+962", "shortName": "JO"},
    {"label": "Kazakhstan", "value": "Kazakhstan", "code": "+7", "shortName": "KZ"},
    {"label": "Kenya", "value": "Kenya", "code": "+254", "shortName": "KE"},
    {"label": "Kiribati", "value": "Kiribati", "code": "+686", "shortName": "KI"},
    {"label": "Korea, Democratic People's Republic of", "value": "Korea, Democratic People's Republic of", "code": "+850", "shortName": "KP"},
    {"label": "Korea, Republic of", "value": "Korea, Republic of", "code": "+82", "shortName": "KR"},
    {"label": "Kuwait", "value": "Kuwait", "code": "+965", "shortName": "KW"},
    {"label": "Kyrgyzstan", "value": "Kyrgyzstan", "code": "+996", "shortName": "KG"},
    {"label": "Lao People's Democratic Republic", "value": "Lao People's Democratic Republic", "code": "+856", "shortName": "LA"},
    {"label": "Latvia", "value": "Latvia", "code": "+371", "shortName": "LV"},
    {"label": "Lebanon", "value": "Lebanon", "code": "+961", "shortName": "LB"},
    {"label": "Lesotho", "value": "Lesotho", "code": "+266", "shortName": "LS"},
    {"label": "Liberia", "value": "Liberia", "code": "+231", "shortName": "LR"},
    {"label": "Libya", "value": "Libya", "code": "+218", "shortName": "LY"},
    {"label": "Liechtenstein", "value": "Liechtenstein", "code": "+423", "shortName": "LI"},
    {"label": "Lithuania", "value": "Lithuania", "code": "+370", "shortName": "LT"},
    {"label": "Luxembourg", "value": "Luxembourg", "code": "+352", "shortName": "LU"}
    {"label": "Macao", "value": "Macao", "code": "+853", "shortName": "MO"},
    {"label": "Madagascar", "value": "Madagascar", "code": "+261", "shortName": "MG"},
    {"label": "Malawi", "value": "Malawi", "code": "+265", "shortName": "MW"},
    {"label": "Malaysia", "value": "Malaysia", "code": "+60", "shortName": "MY"},
    {"label": "Maldives", "value": "Maldives", "code": "+960", "shortName": "MV"},
    {"label": "Mali", "value": "Mali", "code": "+223", "shortName": "ML"},
    {"label": "Malta", "value": "Malta", "code": "+356", "shortName": "MT"},
    {"label": "Marshall Islands", "value": "Marshall Islands", "code": "+692", "shortName": "MH"},
    {"label": "Martinique", "value": "Martinique", "code": "+596", "shortName": "MQ"},
    {"label": "Mauritania", "value": "Mauritania", "code": "+222", "shortName": "MR"},
    {"label": "Mauritius", "value": "Mauritius", "code": "+230", "shortName": "MU"},
    {"label": "Mayotte", "value": "Mayotte", "code": "+262", "shortName": "YT"},
    {"label": "Mexico", "value": "Mexico", "code": "+52", "shortName": "MX"},
    {"label": "Micronesia", "value": "Micronesia", "code": "+691", "shortName": "FM"},
    {"label": "Moldova", "value": "Moldova", "code": "+373", "shortName": "MD"},
    {"label": "Monaco", "value": "Monaco", "code": "+377", "shortName": "MC"},
    {"label": "Mongolia", "value": "Mongolia", "code": "+976", "shortName": "MN"},
    {"label": "Montenegro", "value": "Montenegro", "code": "+382", "shortName": "ME"},
    {"label": "Montserrat", "value": "Montserrat", "code": "+1-664", "shortName": "MS"},
    {"label": "Morocco", "value": "Morocco", "code": "+212", "shortName": "MA"},
    {"label": "Mozambique", "value": "Mozambique", "code": "+258", "shortName": "MZ"},
    {"label": "Myanmar", "value": "Myanmar", "code": "+95", "shortName": "MM"},
    {"label": "Namibia", "value": "Namibia", "code": "+264", "shortName": "NA"},
    {"label": "Nauru", "value": "Nauru", "code": "+674", "shortName": "NR"},
    {"label": "Nepal", "value": "Nepal", "code": "+977", "shortName": "NP"},
    {"label": "Netherlands", "value": "Netherlands", "code": "+31", "shortName": "NL"},
    {"label": "New Caledonia", "value": "New Caledonia", "code": "+687", "shortName": "NC"},
    {"label": "New Zealand", "value": "New Zealand", "code": "+64", "shortName": "NZ"},
    {"label": "Nicaragua", "value": "Nicaragua", "code": "+505", "shortName": "NI"},
    {"label": "Niger", "value": "Niger", "code": "+227", "shortName": "NE"},
    {"label": "Nigeria", "value": "Nigeria", "code": "+234", "shortName": "NG"},
    {"label": "Niue", "value": "Niue", "code": "+683", "shortName": "NU"},
    {"label": "Norfolk Island", "value": "Norfolk Island", "code": "+672", "shortName": "NF"},
    {"label": "Northern Mariana Islands", "value": "Northern Mariana Islands", "code": "+1-670", "shortName": "MP"},
    {"label": "Norway", "value": "Norway", "code": "+47", "shortName": "NO"},
    {"label": "Oman", "value": "Oman", "code": "+968", "shortName": "OM"},
    {"label": "Pakistan", "value": "Pakistan", "code": "+92", "shortName": "PK"},
    {"label": "Palau", "value": "Palau", "code": "+680", "shortName": "PW"},
    {"label": "Palestine, State of", "value": "Palestine, State of", "code": "+970", "shortName": "PS"},
    {"label": "Panama", "value": "Panama", "code": "+507", "shortName": "PA"},
    {"label": "Papua New Guinea", "value": "Papua New Guinea", "code": "+675", "shortName": "PG"},
    {"label": "Paraguay", "value": "Paraguay", "code": "+595", "shortName": "PY"},
    {"label": "Peru", "value": "Peru", "code": "+51", "shortName": "PE"},
    {"label": "Philippines", "value": "Philippines", "code": "+63", "shortName": "PH"},
    {"label": "Pitcairn", "value": "Pitcairn", "code": "+64", "shortName": "PN"},
    {"label": "Poland", "value": "Poland", "code": "+48", "shortName": "PL"},
    {"label": "Portugal", "value": "Portugal", "code": "+351", "shortName": "PT"},
    {"label": "Puerto Rico", "value": "Puerto Rico", "code": "+1-787", "shortName": "PR"},
    {"label": "Qatar", "value": "Qatar", "code": "+974", "shortName": "QA"},
    {"label": "Romania", "value": "Romania", "code": "+40", "shortName": "RO"},
    {"label": "Russia", "value": "Russia", "code": "+7", "shortName": "RU"},
    {"label": "Rwanda", "value": "Rwanda", "code": "+250", "shortName": "RW"},
    {"label": "Réunion", "value": "Réunion", "code": "+262", "shortName": "RE"},
    {"label": "Saint Barthélemy", "value": "Saint Barthélemy", "code": "+590", "shortName": "BL"},
    {"label": "Saint Helena, Ascension and Tristan da Cunha", "value": "Saint Helena, Ascension and Tristan da Cunha", "code": "+290", "shortName": "SH"},
    {"label": "Saint Kitts and Nevis", "value": "Saint Kitts and Nevis", "code": "+1-869", "shortName": "KN"},
    {"label": "Saint Lucia", "value": "Saint Lucia", "code": "+1-758", "shortName": "LC"},
    {"label": "Saint Martin", "value": "Saint Martin", "code": "+590", "shortName": "MF"},
    {"label": "Saint Pierre and Miquelon", "value": "Saint Pierre and Miquelon", "code": "+508", "shortName": "PM"},
    {"label": "Saint Vincent and the Grenadines", "value": "Saint Vincent and the Grenadines", "code": "+1-784", "shortName": "VC"},
    {"label": "Samoa", "value": "Samoa", "code": "+685", "shortName": "WS"},
    {"label": "San Marino", "value": "San Marino", "code": "+378", "shortName": "SM"},
    {"label": "Sao Tome and Principe", "value": "Sao Tome and Principe", "code": "+239", "shortName": "ST"},
    {"label": "Saudi Arabia", "value": "Saudi Arabia", "code": "+966", "shortName": "SA"},
    {"label": "Senegal", "value": "Senegal", "code": "+221", "shortName": "SN"},
    {"label": "Serbia", "value": "Serbia", "code": "+381", "shortName": "RS"},
    {"label": "Seychelles", "value": "Seychelles", "code": "+248", "shortName": "SC"},
    {"label": "Sierra Leone", "value": "Sierra Leone", "code": "+232", "shortName": "SL"},
    {"label": "Singapore", "value": "Singapore", "code": "+65", "shortName": "SG"},
    {"label": "Sint Maarten", "value": "Sint Maarten", "code": "+1-721", "shortName": "SX"},
    {"label": "Slovakia", "value": "Slovakia", "code": "+421", "shortName": "SK"},
    {"label": "Slovenia", "value": "Slovenia", "code": "+386", "shortName": "SI"},
    {"label": "Solomon Islands", "value": "Solomon Islands", "code": "+677", "shortName": "SB"},
    {"label": "Somalia", "value": "Somalia", "code": "+252", "shortName": "SO"},
    {"label": "South Africa", "value": "South Africa", "code": "+27", "shortName": "ZA"},
    {"label": "South Sudan", "value": "South Sudan", "code": "+211", "shortName": "SS"},
    {"label": "Spain", "value": "Spain", "code": "+34", "shortName": "ES"},
    {"label": "Sri Lanka", "value": "Sri Lanka", "code": "+94", "shortName": "LK"},
    {"label": "Sudan", "value": "Sudan", "code": "+249", "shortName": "SD"},
    {"label": "Suriname", "value": "Suriname", "code": "+597", "shortName": "SR"},
    {"label": "Svalbard and Jan Mayen", "value": "Svalbard and Jan Mayen", "code": "+47", "shortName": "SJ"},
    {"label": "Sweden", "value": "Sweden", "code": "+46", "shortName": "SE"},
    {"label": "Switzerland", "value": "Switzerland", "code": "+41", "shortName": "CH"},
    {"label": "Syrian Arab Republic", "value": "Syrian Arab Republic", "code": "+963", "shortName": "SY"},
    {"label": "Taiwan", "value": "Taiwan", "code": "+886", "shortName": "TW"},
    {"label": "Tajikistan", "value": "Tajikistan", "code": "+992", "shortName": "TJ"},
    {"label": "Tanzania", "value": "Tanzania", "code": "+255", "shortName": "TZ"},
    {"label": "Thailand", "value": "Thailand", "code": "+66", "shortName": "TH"},
    {"label": "Timor-Leste", "value": "Timor-Leste", "code": "+670", "shortName": "TL"},
    {"label": "Togo", "value": "Togo", "code": "+228", "shortName": "TG"},
    {"label": "Tokelau", "value": "Tokelau", "code": "+690", "shortName": "TK"},
    {"label": "Tonga", "value": "Tonga", "code": "+676", "shortName": "TO"},
    {"label": "Trinidad and Tobago", "value": "Trinidad and Tobago", "code": "+1-868", "shortName": "TT"},
    {"label": "Tunisia", "value": "Tunisia", "code": "+216", "shortName": "TN"},
    {"label": "Turkey", "value": "Turkey", "code": "+90", "shortName": "TR"},
    {"label": "Turkmenistan", "value": "Turkmenistan", "code": "+993", "shortName": "TM"},
    {"label": "Turks and Caicos Islands", "value": "Turks and Caicos Islands", "code": "+1-649", "shortName": "TC"},
    {"label": "Tuvalu", "value": "Tuvalu", "code": "+688", "shortName": "TV"},
    {"label": "Uganda", "value": "Uganda", "code": "+256", "shortName": "UG"},
    {"label": "Ukraine", "value": "Ukraine", "code": "+380", "shortName": "UA"},
    {"label": "United Arab Emirates", "value": "United Arab Emirates", "code": "+971", "shortName": "AE"},
    {"label": "United Kingdom", "value": "United Kingdom", "code": "+44", "shortName": "GB"},
    {"label": "United States", "value": "United States", "code": "+1", "shortName": "US"},
    {"label": "Uruguay", "value": "Uruguay", "code": "+598", "shortName": "UY"},
    {"label": "Uzbekistan", "value": "Uzbekistan", "code": "+998", "shortName": "UZ"},
    {"label": "Vanuatu", "value": "Vanuatu", "code": "+678", "shortName": "VU"},
    {"label": "Venezuela", "value": "Venezuela", "code": "+58", "shortName": "VE"},
    {"label": "Viet Nam", "value": "Viet Nam", "code": "+84", "shortName": "VN"},
    {"label": "Wallis and Futuna", "value": "Wallis and Futuna", "code": "+681", "shortName": "WF"},
    {"label": "Western Sahara", "value": "Western Sahara", "code": "+212", "shortName": "EH"},
    {"label": "Yemen", "value": "Yemen", "code": "+967", "shortName": "YE"},
    {"label": "Zambia", "value": "Zambia", "code": "+260", "shortName": "ZM"},
    {"label": "Zimbabwe", "value": "Zimbabwe", "code": "+263", "shortName": "ZW"}
]
